#collection
  = render :partial => 'collection_header'
  = render :partial => 'record', :collection => @collection
= link_to "Agregar", :action => 'new'
= link_to "Regresar", tech_support_tickets_path