<div id="signout">
  Su sesión ha terminado.<br/>
  Gracias por usar el STIFUNAM.
</div>
<div id="back-to-login">
  Si desea entrar al sistema de nueva ocasión, presione <%= link_to "aquí", sessions_url %>.
</div>
