#buttons
  = link_to_remote 'Estatus', :url => {:action => 'show', :type => :status}
  = link_to_remote 'Prioridades', :url => {:action => 'show', :type => :priority}
  = link_to_remote 'Categorias', :url => {:action => 'show', :type => :category}
#catalogs
#new_catalog
  