#catalog_panel_form
  #catalog_errors
  - remote_form_for self.instance_variable_get("@#{@type.to_s}"), :url =>{:action => 'create', :type => @type} do |catalog_form|
    = catalog_form.text_field :name
    #send_catalog_form
      = submit_tag "Crear"     