#comment_errors
- remote_form_for @comment, :method => :put  do |f|
  = render :partial => 'comment_form', :object => f
#cancel
  = button_to_function "Cancelar", %Q($("#comment_form_#{@comment.dom_id}").empty();)
