
Su solicitud de soporte  ha sido enviada.
 
Número de orden: <%= @order.id %>
Fecha: <%= @order.created_at.strftime("%d-%m-%Y") %>
 
Ahora debe esperar para recibir la respuesta a su solicitud interna de compra.
 
Gracias por usar el GIIF!!
 
                              Instituto de Física, 
