body { 
  padding: 0 0 18px 0;  
  background: #fff url(/images/bg.jpg)  repeat-x; 
  display: block;
  
}
  
a{
  text-decoration: none;
}
  
a:hover {

}
  
#main{
  margin: auto;
}

#layout { 
  width:800px; 
  margin:0 auto; 
  text-align:left; 
}

#header { 
  position:relative; 
  background: #2a9ac3 url(/images/header.jpg) no-repeat;
}
#logo {
  font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
  position: relative; 
  overflow: hidden; 
  height: 132px;
  font-size:260%;
  margin: 0;
color : white;
  line-height: 120px;
text-align: left;
}

#logo_unam{
position: relative;
left: 1200px;
bottom: 130px;
background: url('/images/logo_unam.jpg') #no-repeat center center;
width: 100px;
heigth: 100px;
}

#layout_header{
  height: 180px;

}
/* layout ---------------------------------------------------------------------- */

/*login and menu*/

#sign_in{
  width: 500px;
  font: bold 14px;
  margin-top: 100px;
  margin-left: 500px;
  font-size: 12px;
}

.td_text {
  margin-left: 30em;
  display: table-cell;
  width: 100px;
  vertical-align: top;
  padding: 2px;
}

.td_textbox{
  display:table-cell;
  padding: 2px;
}


#login{
  height: 70px;
  width: 150px;
  position: relative;
  left: 1200px;
  text-align: center;
}

/*Tockets View (index) */

#tickets{
    margin: auto;
    width: 1000px;
    margin-top: 100px;
    display: block; 
    background:#E5E5E5 url(/images/gradient_panelsurround.jpg) repeat-x scroll left top;
    border:1px solid silver;
}

#no_tickets{
    text-align: center;
}

.ticket{
    margin: 20px auto 20px;
    background:#E5E5E5 url(/images/gradient_panel.jpg) repeat-x scroll left top;
    width: 900px;
    border:2px solid silver;
}


.ticket_header{
    margin: auto;
    margin-top: 10px;
    width: 800px;
}

.ticket_body{
    margin: auto;
    
    width: 800px;
    height: 30px;
    border: 2px solid silver;
    background-color: white;
    #background:#E5E5E5 url(/images/gradient_panel.jpg) repeat-x scroll left top;
}

/*Ticket Show*/

#ticket{
    margin: 80px auto 50px; 
    background:#E5E5E5 url(/images/gradient_panelsurround.jpg) repeat-x scroll left top;
    width: 1000px;
    border:2px solid silver;
    display: table;
}

#ticket_panel{
    width: 900px;
    border: 2px solid silver;
    margin: 10px auto 10px auto;
    background:#E5E5E5 url(/images/gradient_panel.jpg) repeat-x scroll left top;
}

#ticket_header{
    margin: auto;
    margin-top: 10px;
    width: 800px;
    display: table;
}

#ticket_body{
    margin: 10px auto 10px;
    width: 800px;
    height: 30px;
    border:2px solid silver;
    background-color: white;
    display: table;
}

#text{
    padding: 20px;
    margin: auto;
    overflow: auto;
}

/*COMMENT FORM */

#comment_form{
    
}

#comment_panel_form{
    border: 2px solid silver;
    margin: auto;
    margin-bottom: 30px;
    width: 900px;
    background:#E5E5E5 url(/images/gradient_panel.jpg) repeat-x scroll left top;
    display: block;
}

#new_comment{
    width: 800px;
    margin: 10px auto 10px;
    display: table;
}

#comment_body{
    padding: 10px;
    margin: 10px auto 10px;
    width: 800px;
    height: 130px;
    border: 1px solid #990000;
    color:#222222 !important;
    display: block;
}


.comment_panel_form{
    width: 900px;
    background:#E5E5E5 url(/images/gradient_panel.jpg) repeat-x scroll left top;
    border: 2px solid silver;
    margin: auto;
    margin-bottom: 30px;
    display: block;
}

.edit_comment{
    display: block;
}

.new_comment{
    width: 800px;
    margin: 10px auto 10px;
    display: table;
}






 

/*COMMENTS LIST */
#comments{
    width: 1000px;
    margin: auto;
    background:#E5E5E5 url(/images/gradient_panelsurround.jpg) repeat-x scroll left top;
    border:1px solid silver;
    display: block;
}

.comment{
    margin: 20px auto 20px;
    background:#E5E5E5 url(/images/gradient_panel.jpg) repeat-x scroll left top;
    width: 900px;
    border:2px solid silver;
}

.comment_panel{
    margin: auto;
}

.comment_header{
    margin: auto;
    margin-top: 10px;
    width: 800px;
}

.comment_body{
    margin: auto;
    margin: 20px auto 20px;
    width: 800px;
    height: 30px;
    border:2px solid silver;
    background-color: white;
    display: table;
}

.text{
    width: 800px;
    overflow: auto;
}



.comment_form_child{
    
}

.comment_child{
    width: 85%;
    margin: 5px auto 5px;
    background:#E5E5E5 url(/images/gradient_panel.jpg) repeat-x scroll left top;
    border:1px solid silver;
    display: block;
 
}


/*CSS FOR ADMIN CONTROLLER*/

#admin {
    width: 1000px;
    margin: auto;
    border:1px solid silver;
    padding: 20px;
}

#buttons{
    display: table;
}