body {
  padding: 0 0 18px 0;
  background: #fff url(/images/bg.jpg)  repeat-x;
  display: block;
  font-family: Arial, Helvetica,sans-serif;
  font-size: 90%;
  width: 1100px;
}

a{
  text-decoration: none;
}
#main{
  margin: auto;
  width: 1100px;
}

#layout_header{
    width:800px;
    margin:0 auto;
    text-align:left;
    position:relative;
    background: #2a9ac3 url(/images/header.jpg) no-repeat;
    position: relative;
    overflow: hidden;
    height: 132px;
    color : white;
    text-align: left;
}

#layout_header h1{
    font-size: 28px;
    margin-bottom: 0px;
	width: 1100px;
}

#layout_header h2{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
	width: 1100px;
}

#layout_header h3{
    font-size: 20px;
    margin-top: 0px;
	width: 1100px;
}


/* layout ---------------------------------------------------------------------- */

/*login and menu*/


#sign_in{
    width: 400px;
    color: red;
    border: 2px double silver;
    padding: 10px;
    margin: auto;
#    text-align: center;
}

#flash{
    width: 350px;
    margin: auto;
    text-align: center;
}
#form_session{
    width: 300px;
    margin: auto;
}

.form_session_label {
  margin-left: 30em;
  display: table-cell;
  width: 100px;
  vertical-align: top;
  padding: 2px;
}

.form_session_textbox{
  padding: 2px;
}



#session_instructions {
        display: block;
        border-top: 1px solid green;
        border-bottom: 1px solid green;
        background-color: #ffffcc;
        width: 400px;
        margin-top: 60px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
}


#pi{
    text-align: right;
    font-size:30px;
    margin-right: 50px;
}