body { 
  padding: 0 0 18px 0;  
  background: #fff url(/images/bg.jpg)  repeat-x; 
  display: block;
  font-family: Arial, Helvetica,sans-serif;
  font-size: 90%;
}
  
a{
  text-decoration: none;
}
 
  
#main{
  margin: auto;
}

#layout_header{
    width:800px; 
    margin:0 auto; 
    text-align:left; 
    position:relative; 
    background: #2a9ac3 url(/images/header.jpg) no-repeat;
    position: relative; 
    overflow: hidden; 
    height: 132px;
    font-size:230%;
    color : white;
    text-align: left;
}



/* layout ---------------------------------------------------------------------- */

/*login and menu*/



#sign_in{
    
    #font: bold 14px;
    margin-top: 100px;
    margin-left: 500px;
    font-size: 12px;
}

.td_text {
  margin-left: 30em;
  display: table-cell;
  width: 100px;
  vertical-align: top;
  padding: 2px;
}

.td_textbox{
  #display:table-cell;
  padding: 2px;
}


#login{
  height: 70px;
  width: 150px;
  position: relative;
  left: 1200px;
  text-align: center;
}
