body {
  padding: 0 0 18px 0;
  background: #fff url(/images/bg.jpg)  repeat-x;
  display: block;
  font-family: Arial, Helvetica,sans-serif;
  font-size: 90%;
}

a{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: blue;
}
a.hilite {
background:yellow;
}





#layout_header{
    width:800px;
    margin:0 auto;
    text-align:left;
    position:relative;
    background: #2a9ac3 url(/images/header.jpg) no-repeat;
    position: relative;
    overflow: hidden;
    height: 132px;
    color : white;
    text-align: left;
}

#layout_header h1{
    font-size: 28px;
    margin-bottom: 0px;
}

#layout_header h2{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#layout_header h3{
    font-size: 20px;
    margin-top: 0px;
}
#main{
    display:table;
    margin: 50px auto auto;
}


/*_-------------User profile -------------------*/

#controller_title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: green;
}

#user_profile{
    margin: 5px auto 15px;
    border-bottom: 1px solid silver;
    padding-bottom: 0px;
}

#user_profile_item{
    margin: 10px 40px 0px auto;
    display:inline-block;
}

#login{
    text-align: right;
    margin: auto;
    color: green;
    font-size: 16px;
}

/*------------------------------------------------*/




#tickets_index{
    margin: auto;
    width: 1500px;
    display: inline-block;
    #position: relative;
}


#tickets_header{
    background:#E5E5E5 url(/images/gradient_panelsurround.jpg) repeat-x scroll left top;
    #font-size:large;
    font-variant:small-caps;
    font-weight:bold;
    height:50px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.ticket_header_item{
    float: left;
    width: 14%;
    margin: auto;
    margin-top: 10px;
    border-right: 3px solid #FFFFFF;
    text-align: center;
}

.ticket_header_item#category{
    width: 400px;
}
.ticket_header_item#status{
    width: 145px;
}
.ticket_header_item#date{
    width: 155px;
}
.ticket_header_item#user{
    width: 200px;
}
.ticket_header_item#assigned_to{
    width: 200px;
}
.ticket_header_item#body{
    width: 230px;
}
.ticket_header_item#actions{
    width: 100px;
    border: none;
}


#tickets_collection{
    margin: auto;
}

.ticket_row{
    display:inline-block;
    width:1500px;
    border-bottom: 1px solid silver;
}

#color1{
    background-color: #f0f7ff;
}
#color0{
    background-color: #ffffe0;
}

.ticket_row_item{
    float: left;
    text-align: center;
    margin: 10px auto 10px auto;
}

.ticket_row_item#category{
    width: 400px;
    text-align:left;
    margin-left: 5px;
}
.ticket_row_item#status{
    width: 155px;
}
.ticket_row_item#date{
    width: 155px;
    text-align:left;
}
.ticket_row_item#user{
    width: 200px;
    text-align:left;
}
.ticket_row_item#assigned_to{
    width: 200px;
    text-align:left;
}
.ticket_row_item#body{
    width: 230px;
    text-align:left;
}
.ticket_row_item#actions{
    width: 100px;
}


.pagination{
    margin:30px auto auto;
    text-align: center;
}

#add_ticket{
    width:130px;
    margin-top: 10px;
    margin-bottom: 30px;
}




/*--------Tikcet new ---------------*/

#ticket_form{
    #margin-top: 80px;

}

#ticket_form #ticket_body{
    border:2px solid silver;
    background-color: white;
    display: table;
    margin:auto;
    position: relative;
}
#ticket_form #cancel{
    position: relative;
    left: 150px;
    bottom: 30px;
    width: 200px;
}

/*-----------Ticket Show--------------*/

#ticket_show{
    width: 1200px;
}
#h4_show{
    text-align: center;
}

#ticket_profile{
    border: 2px solid silver;
    margin: 10px auto 10px auto;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
}

#ticket_profile #ticket_body{
    width: 1150px;
}












/*-------------- COMMENT FORM ----------------*/

#comment_form{
    margin: auto;
    width: 80%;
}

#comment_form #new_comment{
    margin: auto;
}
#comment_form #cancel{
    width: 200px;
    position: relative;
    bottom: 30px;
    left: 160px;

}
#comment_form_body{
    margin: 10px auto 10px;
    height: 130px;
    border: 1px solid #990000;
    width:100%;
}




.comment_form{
    margin: auto;
    width: 80%;
}
.comment_form #cancel{
    width: 200px;
    position: relative;
    bottom: 30px;
    left: 160px;

}




/*COMMENTS LIST */

#comment_collection{
}



.comment{
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid silver;
    padding:20px;
}
.comment_father{
    background: #f9f9f9;
    padding:20px;
}





/*------------------------chilsd---------------*/

.childs{
}

.comment_child{
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
}

.button_hide{
}