body {
  padding: 0 0 18px 0;
  background: #fff url(/images/bg.jpg)  repeat-x;
  display: block;
  font-family: Arial, Helvetica,sans-serif;
  font-size: 90%;
}

a{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: blue;
}
a.hilite {
background:yellow;
}





#layout_header{
    width:800px;
    margin:0 auto;
    text-align:left;
    position:relative;
    background: #2a9ac3 url(/images/header.jpg) no-repeat;
    position: relative;
    overflow: hidden;
    height: 132px;
    #font-size:230%;
    color : white;
    text-align: left;
}

#layout_header h1{
    font-size: 28px;
    margin-bottom: 0px;
}

#layout_header h2{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#layout_header h3{
    font-size: 20px;
    margin-top: 0px;
}
#main{
    display:table;
    margin:50px auto auto;
}


/*_-------------User profile -------------------*/

#controller_title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: green;
}

#user_profile{
    margin: 5px auto 15px;
    border-bottom: 1px solid silver;
    padding-bottom: 0px;
}

#user_profile_item{
    margin: 10px 40px 0px auto;
    display:inline-block;
}

#login{
    text-align: right;
    margin: auto;
    color: green;
    font-size: 16px;
}

/*------------------------------------------------*/




#tickets_index{
    margin: auto;
    width: 1100px;
    display: inline-block;
    #position: relative;
}


#tickets_header{
    background:#E5E5E5 url(/images/gradient_panelsurround.jpg) repeat-x scroll left top;
    #font-size:large;
    font-variant:small-caps;
    font-weight:bold;
    height:50px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.ticket_header_item{
    float: left;
    width: 14%;
    margin: auto;
    margin-top: 10px;
    border-right: 3px solid #FFFFFF;
    text-align: center;
}

.ticket_header_item#category{
    width: 200px;
}
.ticket_header_item#status{
    width: 130px;
}
.ticket_header_item#date{
    width: 120px;
}
.ticket_header_item#user{
    width: 120px;
}
.ticket_header_item#assigned_to{
    width: 120px;
}
.ticket_header_item#body{
    width: 220px;
}
.ticket_header_item#actions{
    border: none;
}


#tickets_collection{
    margin: auto;
}

.ticket_row{
    display:inline-block;
    width:1100px;
    border-bottom: 1px solid silver;
}

#color1{
    background-color: #f0f7ff;
}
#color0{
    background-color: #ffffe0;
}

.ticket_row_item{
    float: left;
    text-align: center;
    margin: 10px auto 10px auto;
}

.ticket_row_item#category{
    width: 200px;
}
.ticket_row_item#status{
    width: 130px;
}
.ticket_row_item#date{
    width: 120px;
}
.ticket_row_item#user{
    width: 120px;
}
.ticket_row_item#assigned_to{
    width: 120px;
}
.ticket_row_item#body{
    width: 220px;
}
.ticket_row_item#actions{
    width: 150px;
}


.pagination{
    margin:30px auto auto;
    text-align: center;
}

#add_ticket{
    width:130px;
    margin-top: 10px;
    margin-bottom: 30px;
}




/*--------Tikcet new ---------------*/

#ticket_form{
    #margin-top: 80px;

}

#ticket_form #ticket_body{
    border:2px solid silver;
    background-color: white;
    display: table;
    margin:auto;
    position: relative;
}


/*-----------Ticket Show--------------*/



#ticket_show{
    width: 650px;
    border: 2px solid silver;
    margin: 10px auto 10px auto;
    margin: auto;
    background-color: #F9F7ED;
    padding: 20px;
}

#ticket_show_header{
}

.ticket_show_header_item{
    width: 300px;
    display:inline-table;
}
.ticket_show_header_item#contact{
    position: relative;
    left: 80px;
}

#ticket_show #ticket_body{
    border:dotted;
    border:2px solid silver;
    background-color: white;
    margin:auto;
    position: relative;
    overflow: auto;
}












/*-------------- COMMENT FORM ----------------*/

.comment_form{
    margin-top:10px;
    width: 90%;
    margin: auto;
}

#cancel{
    width: 200px;
    position: relative;
    bottom: 26px;
    left: 150px;
}

#comment_subject{
    #float: left;
}

#comment_body{
    #float: left;

    #padding: 10px;
    margin: 10px auto 10px;

    height: 130px;
    border: 1px solid #990000;
    color:#222222 !important;
    display: block;
    padding:20px;
    width:90%;#600px;

}













/*COMMENTS LIST */
#comments{
    display: block;
}

.comment{
    margin: auto;
    width: 95%;

}
.comment_father{
    margin: 20px auto 20px;
    background:#E5E5E5 url(/images/gradient_panel.jpg) repeat-x scroll left top;
    #width: 900px;
    border:2px solid silver;
    display: block;

}

.comment_item{
   margin: 5px auto;
   padding: 5px;

}

.comment_item#subject{
    float: left;

}

.comment_item#date{
    float: right;
}

.comment_father .comment_item#body{
    border:2px solid silver;
    background-color: white;
    #display: table;
    width: 650px;
    overflow: auto;
}

.childs{
    margin:15px auto;
    width: 95%;

}


.comment_child{
    margin:15px auto;
    width: 95%;
    border: solid silver;

    background:#E5E5E5 url(/images/gradient_panel.jpg) repeat-x scroll left top;
}



.comment_child .comment_item#body{
    border:2px solid silver;
    background-color: white;
    width: 93%;
    overflow: auto;

}
