#versions_header
  .version_header_item#version No.
  .version_header_item#category Categoría
  .version_header_item#status Estado
  .version_header_item#priority Prioridad
  .version_header_item#user Solicitante
  .version_header_item#assigned_to Responsable
  .version_header_item#last_modified_by Ultima Actualización
  .version_header_item#body Descripción
  .version_header_item#date_updated Fecha modificacion
#versions_collection
  - v = @ticket.version
  - 1.upto(v) do |n|
    - @ticket.revert_to(n)
    = render :partial => 'record', :locals => {:record => @ticket}
%br
= button_to "Regresar", tech_support_ticket_path(@ticket), :method => :get