#tickets_header
  .ticket_header_item#category Categoría
  .ticket_header_item#status Estado
  .ticket_header_item#priority Prioridad
  .ticket_header_item#date Fecha
  .ticket_header_item#user Solicitante
  .ticket_header_item#assigned_to Responsable
  .ticket_header_item#body Descripción

  .ticket_header_item#actions Acciones