<div class="comment">
 <div class="comment_panel">
   
   
   <div class="comment_header">
     <%= comment.created_at_before_type_cast %>
   
     <br>
   
     De: <%= comment.subject %>
   </div>

   <div class="icon_comment">
     <%= image_tag("icon_commnet.jpg") %>
   </div>
   
   
   <div class="comment_body">
     <div class="text">
       <%= comment.body %>
     </div>
   </div>
   
 </div>
</div>

 <div class="space">
</div>
