<div class="comment">
  <p>
    <div class="date">
      <div class ="note">
      Creado :
      </div>
      <%= comment.created_at_before_type_cast %>
    </div>
  </p>
  <p>
    <div class="category">
      <div class ="note">
        De :
      </div>
      <%= comment.subject %>
    </div>
  </p>
  <p>
    <div class="status">
      <div class ="note">
        Descripcion :
      </div>
      <%= comment.body %>
    </div>
  </p>
  
  
  ----------------
  <br>
</div>
