<div id="tickets_header">
  <div id="tickets_header_panel">

  <div id="ticket_category_h">
    Categoría
  </div>
  
  <div id="ticket_status_h">
    Estado
  </div>
  
  <div id="ticket_body_h">
    Descripción
  </div>
  
  <div id="ticket_date_h">
    Fecha
  </div> 

</div>
</div>



