<div class="ticket_header">
  
  <div class="ticket_id" id="ticket_id">
    Ticket
  </div>
  
  <div class="ticket_category" id="ticket_category">
    Categoría
  </div>
  
  <div class="ticket_status" id="ticket_status">
    Estado
  </div>
  
  <div class="ticket_description" id="ticket_description">
    Descripción
  </div>
  
  <div class="ticket_date" id="ticket_date">
    Fecha
  </div> 

</div>
