%ul#header_list
  %li.header_item#category Categoría
  %li.header_item#status Estado
  %li.header_item#date Fecha
  %li.header_item#user Solicitante
  %li.header_item#assigned_to Responsable
  %li.header_item#body Descripción
  %li.header_item#actions Acciones