#tickets_index
  = render :partial => 'tickets_filter'
  = render :partial => 'ticket_header' 
  = render :partial => 'tickets_collection'
#add_ticket
  = button_to 'Nueva Solicitud', :action => 'new'
