<h2>"Inicidencias reportadas por el personal del IFUNAM"</h2>

<div class="tickets">
  <%= render :partial => 'ticket_header' %>
  <br>
  <%= render :partial => 'ticket', :collection => @tickets %>
  

 <!--  <div id="add"> -->
<!--     <%=  link_to (image_tag("icon_add_order.jpg",:title => "Nueva solicitud de soporte"),:action => 'new' ) %> -->
<!-- </div>   -->  

   <%= link_to 'Nueva Solicitud', { :action => 'new'}, { :id => "add"} %>
  
  

</div>
