#ticket_index
  = render :partial => 'menu_tickets'
 
  #tickets_header
    = render :partial => 'ticket_header' 
  #tickets_collection
    = render :partial => 'collection'

#add_ticket
  = link_to 'Nueva Solicitud', new_ticket_path