- form_for(:record, @record, :url => {:action => 'update'}, :html => {:method => :put}) do |f|
  = render :partial => 'tech_support/catalogs/form', :locals => { :f => f}
  %br
  = submit_tag('Guardar cambios')
= button_to "Cancelar", {:controller => @record.class.name.pluralize, :action => 'index'}, :method => :get