body { 
  padding: 0 0 18px 0;  
  background: #fff url(/images/bg.jpg)  repeat-x; 
  display: block;
}
  
a{
  text-decoration: none;
}

a.hilite { background:yellow; }

 
  


#layout_header{
   width:800px; 
    margin:0 auto; 
    text-align:left; 
    position:relative; 
    background: #2a9ac3 url(/images/header.jpg) no-repeat;
    position: relative; 
    overflow: hidden; 
    height: 132px;
    font-size:230%;
    color : white;
    text-align: left;
}

#main{
    display:table;
    #width: 100px;
    margin:50px auto auto;
    
}


/*_-------------User profile -------------------*/

#user_profile{
    margin:auto auto 30px;
}

#user_profile_item{
    margin: 10px 40px 10px auto;
    display:inline-block;
}

#login_logout{
    text-align: right;
    margin: auto;
}

/*------------------------------------------------*/

#collection{
}

#collection_header{
    height: 20px;
}

.collection_header_item{
    float:left;
    width: 280px;
    margin-bottom: 20px;
}

.record{
    margin-bottom: 20px;
    height: 50px;
    
}


.record_item{
    float: left;
}

.record_item#name{
    width: 280px;
    
}

.action{
    width: 100px;
}

.pagination {
    margin:30px auto auto;
    width:210px;
}

.link{
    margin-bottom: 10px;
}




#show .name{
    width: 250px;
    
}
