body {
  padding: 0 0 18px 0;
  background: #fff url(/images/bg.jpg)  repeat-x;
  display: block;
  font-family: Arial, Helvetica,sans-serif;
  font-size: 90%;
}

a{
  text-decoration: none;
}

a.hilite { background:yellow; }


 #layout_header{
    width:800px;
    margin:0 auto;
    text-align:left;
    position:relative;
    background: #2a9ac3 url(/images/header.jpg) no-repeat;
    position: relative;
    overflow: hidden;
    height: 132px;
    #font-size:230%;
    color : white;
    text-align: left;
}

#layout_header h1{
    font-size: 28px;
    margin-bottom: 0px;
}

#layout_header h2{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#layout_header h3{
    font-size: 20px;
    margin-top: 0px;
}




#main{
    display:table;
    #width: 100px;
    margin:50px auto auto;

}


/*_-------------User profile -------------------*/

#user_profile{
    margin:auto auto 30px;
}

#user_profile_item{
    margin: 10px 40px 10px auto;
    display:inline-block;
}

#login{
    text-align: right;
    margin: auto;
    color: green;
    font-size: 16px;
}

/*------------------------------------------------*/

#collection{
    width: 605px;
}

#collection_header{
    height: 20px;
    background:#E5E5E5 url(/images/gradient_panelsurround.jpg) repeat-x scroll left top;
    font-variant:small-caps;
    font-weight:bold;
    height:30px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.collection_header_item{
    float: left;
    width: 300px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}
.collection_header_item#name{
    border-right: 3px solid #FFFFFF;
}
.record{
    display:inline-block;
    border-bottom: 1px solid silver;
    width: 605px;
#   height: 30px;
}

#color1{
    background-color: #f0f7ff;
}
#color0{
    background-color: #ffffe0;
}

.record_item{
    float: left;
    text-align: center;
    margin: 10px auto 10px auto;
    width: 300px;

}

.record_item#name{

}

.record_item#actions{
    text-align: right;
}

.record_item#actions .link{
    width: 90px;
    float:left;
}

.pagination {
    margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
    width:210px;
}

#buttons{
    margin-top:10px;
}

#buttons #cancel{
    position:relative;
    bottom:26px;
    left:150px;
    width:200px;
}


#show{
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
    width: 600px;
}

#edit{
    width: 600px;

}

#edit #cancel{
    position:relative;
    bottom:26px;
    left:150px;
    width:200px;
}

.form_item{
    margin-bottom: 10px;
}

#new{
    width: 600px;

}
#new #cancel{
    position:relative;
    bottom:26px;
    left:100px;
    width:200px;
}