#admin
  #buttons
    #tickets_button
      = button_to_function 'Tickets',remote_function( :url => admins_path(:type => :tickets), :method => :get) 
    #catalogs_button 
      = button_to_function 'Catalogos', remote_function(:url => admins_path(:type => :catalogs), :method => :get)
    #users_button   
      = button_to_function 'Usuarios', remote_function(:url => admins_path(:type => :users), :method => :get )
#index